In [3]:
import pandas as pd 
import numpy as np 
fake= pd.read_csv("fake.csv")
real=pd.read_csv("true.csv")

In [4]:
#data cleaning 
   #in data cleaning we load the dataset , see if the dataset is really loaded with the help of head or samples then we label the 
   # data for example here fake will be labled as 0 and real as 1 and remove the rows that we dont need  in our project 
   #and only the rows and coloms that we will use and then again check the now data by using head or samples and then adding two dataset
   #  if there is two in one frame after that  we can movve to data preprocessing this is the basic load method of data cleaning

In [5]:
fake.sample(5)
real.sample(5)  #gives 5 radom data rows from the dataset

,title,text,subject,date
12083,Iran tells France's Macron not to 'blindly fol...,LONDON (Reuters) - Iran on Sunday criticized F...,worldnews,"December 17, 2017"
9626,Trump to meet with Senate Republican leader Mc...,WASHINGTON (Reuters) - U.S. Republican preside...,politicsNews,"May 9, 2016"
14017,U.S. asks Venezuela for access to detained Cit...,CARACAS (Reuters) - Washington has asked the g...,worldnews,"November 23, 2017"
19046,Multinationals in Puerto Rico respond to Hurri...,"(Reuters) - Storm-battered Puerto Rico, with a...",worldnews,"September 25, 2017"
1713,"In Mexico visit, Trump's defense chief talks t...",MEXICO CITY (Reuters) - Distancing himself fro...,politicsNews,"September 15, 2017"

In [6]:
fake['model'] = 0
real['model'] = 1 # labeling the data 0 for fake and 1 for real

In [7]:

real.head() #gives the first 5 rows of the dataset

,title,text,subject,date,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
fake.head()

,title,text,subject,date,model
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
#removing subject coloumn and date coloum from both of the data set as i donot want it in future use 
real.drop(columns = ['subject','date'], inplace =True )
fake.drop(columns = ['subject','date'], inplace = True)

In [10]:
#As i have two dataset im going to combine them
news=pd.concat([real,fake],ignore_index = True )

In [11]:
news.head() #CHECKING

,title,text,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1

In [12]:
news.sample(5) #checking if two dataset connected

,title,text,model
38998,ABC NEWS Gets DESTROYED On Twitter For Waiting...,After ABC News broke the General Flynn-Trump s...,0
341,"House, Senate Republicans face challenge over ...",WASHINGTON (Reuters) - U.S. Republicans in Con...,1
22508,Sean Hannity Goes Apesh*t Over Trump As Caesa...,It s crystal clear that nobody can accuse Sean...,0
1146,Trump 'committed' to U.S. renewable fuels: Iow...,(This story corrects ninth paragraph to say t...,1
36621,DALLAS RALLY VIDEO: Trump Lets It Rip On The “...,The truth hurts and Trump has no problem deliv...,0

In [ ]:
#now as the loading of the data is done, now we will start with processing the data, the process of
# the data is to convert the data into a suitable format for the model to understand and use it to make
# predictions. so maybe data cleaning data distribution and more the way you want to test the data, 
# making the words lower case, removing the punctuation, removing the stop words, removing the special
# characters, removing the numbers.

In [14]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44898 non-null  object
 1   text    44898 non-null  object
 2   model   44898 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [ ]:
def clean_data(news):
    news = news.lower() # convert to lowercase