In [1]:
import pandas as pd 
import numpy as np 
fake= pd.read_csv("fake.csv")
real=pd.read_csv("true.csv")

In [ ]:
#data cleaning 
   #in data cleaning we load the dataset , see if the dataset is really loaded with the help of head or samples then we label the 
   # data for example here fake will be labled as 0 and real as 1 and remove the rows that we dont need  in our project 
   #and only the rows and coloms that we will use and then again check the now data by using head or samples and then adding two dataset
   #  if there is two in one frame after that  we can movve to data preprocessing this is the basic load method of data cleaning

In [2]:
fake.sample(5)
real.sample(5)  #gives 5 radom data rows from the dataset

,title,text,subject,date
21210,Nigeria asks Britain for gear to fight Islamis...,LAGOS (Reuters) - Britain is considering a req...,worldnews,"August 31, 2017"
4981,Republican Obamacare repeal would benefit weal...,WASHINGTON (Reuters) - A Republican plan to re...,politicsNews,"March 13, 2017"
17757,London demands answers as British rights activ...,HONG KONG (Reuters) - A British activist criti...,worldnews,"October 11, 2017"
9401,"Protesters throw rocks, bottles at police outs...",(Reuters) - Protesters threw rocks and bottles...,politicsNews,"May 25, 2016"
6781,"Republican wins Senate runoff in Louisiana, gi...","BATON ROUGE, La. (Reuters) - Republican John N...",politicsNews,"December 11, 2016"

In [3]:
fake['model'] = 0
real['model'] = 1 # labeling the data 0 for fake and 1 for real

In [ ]:

real.head() #gives the first 5 rows of the dataset

,title,text,subject,date,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [5]:
fake.head()

,title,text,subject,date,model
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
#removing subject coloumn and date coloum from both of the data set as i donot want it in future use 
real.drop(columns = ['subject','date'], inplace =True )
fake.drop(columns = ['subject','date'], inplace = True)

In [12]:
#As i have two dataset im going to combine them
news=pd.concat([real,fake],ignore_index = True )

In [ ]:
news.head() #CHECKING

,title,text,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1

In [ ]:
news.sample(5) #checking if two dataset connected

,title,text,model
34622,COLIN POWELL SAYS HILLARY LYING About Private ...,"For anyone who s paying attention, Hillary jus...",0
9585,U.S. Republicans want to slash Obama's securit...,"(This version of the May 11 story, corrects f...",1
41061,UPDATE ON MONSTER MOM Who Kicked Little Boy Ou...,JUSTICE FOR CHILDREN WITHOUT VOICES: We have s...,0
28278,Republicans Are Now Threatening To KILL Trans...,Republicans at the University of North Carolin...,0
31574,HERE YOU GO! TRUMP CONDEMNS DAVID DUKE…Calls H...,"Following the situation in Charlottesville, Tr...",0