In [1]:
import pandas as pd 
import numpy as np 
fake= pd.read_csv("fake.csv")
real=pd.read_csv("true.csv")

In [2]:
#data cleaning 
   #in data cleaning we load the dataset , see if the dataset is really loaded with the help of head or samples then we label the 
   # data for example here fake will be labled as 0 and real as 1 and remove the rows that we dont need  in our project 
   #and only the rows and coloms that we will use and then again check the now data by using head or samples and then adding two dataset
   #  if there is two in one frame after that  we can movve to data preprocessing this is the basic load method of data cleaning

In [3]:
fake.sample(5)
real.sample(5)  #gives 5 radom data rows from the dataset

,title,text,subject,date
4513,"New York, other states take on Trump over ener...",NEW YORK (Reuters) - A coalition of U.S. state...,politicsNews,"April 3, 2017"
8259,Clinton rejects Mexico invitation after Trump'...,(Reuters) - U.S. Democratic presidential candi...,politicsNews,"September 6, 2016"
689,Wind energy firms cheer U.S. Senate tax bill f...,(Reuters) - The U.S wind energy industry on Fr...,politicsNews,"November 10, 2017"
13682,Libya pressing group to restore water supply t...,TRIPOLI (Reuters) - Libyan authorities are att...,worldnews,"November 28, 2017"
18998,The new risk for Europe: an inward-looking Ger...,"BERLIN (Reuters) - In 2008, in a fit of pique ...",worldnews,"September 26, 2017"

In [4]:
fake['model'] = 0
real['model'] = 1 # labeling the data 0 for fake and 1 for real

In [5]:

real.head() #gives the first 5 rows of the dataset

,title,text,subject,date,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [6]:
fake.head()

,title,text,subject,date,model
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
#removing subject coloumn and date coloum from both of the data set as i donot want it in future use 
real.drop(columns = ['subject','date'], inplace =True )
fake.drop(columns = ['subject','date'], inplace = True)

In [8]:
#As i have two dataset im going to combine them
news=pd.concat([real,fake],ignore_index = True )

In [9]:
news.head() #CHECKING

,title,text,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1

In [10]:
news.sample(5) #checking if two dataset connected

,title,text,model
31437,President Trump’s Extreme Vetting Takes the Ne...,Will the new policy for face-to-face interview...,0
20115,Iraqi parliament votes to remove kirkuk govern...,BAGHDAD (Reuters) - Iraq s parliament voted on...,1
1447,Republican senator criticizes Trump tax plan,"WASHINGTON (Reuters) - U.S. Senator Rand Paul,...",1
43637,Message to President Trump from Syria’s Assad:...,21st Century Wire says The following interview...,0
26845,Clinton Promises Plan To Overturn Citizens Un...,As Republicans gather for the first day of the...,0

In [11]:
#now as the loading of the data is done, now we will start with processing the data, the process of
# the data is to convert the data into a suitable format for the model to understand and use it to make
# predictions. so maybe data cleaning making the words lower case, removing the punctuation,(done to remove !@# etc)
#  removing the stop words(filters is an the), removing the special characters, removing the duplicate.
# data distribution and more the way you want to test the data.

In [12]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44898 non-null  object
 1   text    44898 non-null  object
 2   model   44898 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [13]:
def clean_data(news):
    news = re.sub(r'[^a-z\s]+' , ' ', news.lower()) #removed the special characters and put the space instead and others  to lower case
    news = ' '.join(news.split()) #spilt put every letters spearated by a comma then join makes them as one sentence

In [ ]:
news.isnull().sum() #SEES if theree is any missing value or 0 in data if there is sum will be true and the total count will e given

title    0
text     0
model    0
dtype: int64

In [19]:
news.duplicated().sum() #sees if there  is any duplicate and count it

np.int64(5793)

In [21]:
news.drop_duplicates(inplace = True)

In [22]:
news.duplicated().sum()

np.int64(0)