In [21]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression  #model= logistic regression 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

fake= pd.read_csv("fake.csv")
real=pd.read_csv("true.csv")

In [22]:
#data cleaning 
   #in data cleaning we load the dataset , see if the dataset is really loaded with the help of head or samples then we label the 
   # data for example here fake will be labled as 0 and real as 1 and remove the rows that we dont need  in our project 
   #and only the rows and coloms that we will use and then again check the now data by using head or samples and then adding two dataset
   #  if there is two in one frame after that  we can movve to data preprocessing this is the basic load method of data cleaning

In [23]:
fake.sample(5)
real.sample(5)  #gives 5 radom data rows from the dataset

,title,text,subject,date
17568,Senior Quds force commander says Trump's threa...,ANKARA (Reuters) - U.S. President Donald Trump...,worldnews,"October 13, 2017"
16664,"Tillerson urges Iraq, Kurds to resolve conflic...",BAGHDAD (Reuters) - U.S. Secretary of State Re...,worldnews,"October 23, 2017"
8515,"A disenchanted Republican, fearing Trump, laun...",WASHINGTON (Reuters) - A former CIA officer an...,politicsNews,"August 8, 2016"
16197,Thai king's remains laid to rest at end of fiv...,BANGKOK (Reuters) - The bones and ashes of Tha...,worldnews,"October 29, 2017"
8730,"A festival air, and unease, hang over pre-conv...","CLEVELAND (Reuters) - East 4th Street, emblema...",politicsNews,"July 17, 2016"

In [24]:
fake['model'] = 0
real['model'] = 1 # labeling the data 0 for fake and 1 for real

In [25]:

real.head() #gives the first 5 rows of the dataset

,title,text,subject,date,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [26]:
fake.head()

,title,text,subject,date,model
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [27]:
#removing subject coloumn and date coloum from both of the data set as i donot want it in future use 
real.drop(columns = ['subject','date'], inplace =True )
fake.drop(columns = ['subject','date'], inplace = True)

In [28]:
#As i have two dataset im going to combine them
news=pd.concat([real,fake],ignore_index = True )

In [29]:
news.head() #CHECKING

,title,text,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1

In [30]:
news.sample(5) #checking if two dataset connected

,title,text,model
5616,German defense minister to meet U.S.'s Mattis ...,"KAUNUS, Lithuania (Reuters) - German Defense M...",1
35354,UNREAL! OBAMA SPEECH WRITERS Laugh Like Crazy ...,Wow! These guys are so proud of their scummy l...,0
2485,California deputy attorney general charged wit...,(Reuters) - A California deputy attorney gener...,1
19932,Euro zone enlargement call sparks backlash in ...,TALLINN (Reuters) - After years of bailing out...,1
3464,U.N. says U.S. withdrawal from Paris deal 'maj...,UNITED NATIONS (Reuters) - The United States’ ...,1

In [31]:
#now as the loading of the data is done, now we will start with processing the data, the process of
# the data is to convert the data into a suitable format for the model to understand and use it to make
# predictions. so maybe data cleaning making the words lower case, removing the punctuation,(done to remove !@# etc)
#  removing the stop words(filters is an the), removing the special characters, removing the duplicate.
# data distribution and more the way you want to test the data.

In [32]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44898 non-null  object
 1   text    44898 non-null  object
 2   model   44898 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [33]:
def clean_data(news):
    news = re.sub(r'[^a-z\s]+' , ' ', news.lower()) #removed the special characters and put the space instead and others  to lower case
    news = ' '.join(news.split()) #spilt put every letters spearated by a comma then join makes them as one sentence

In [34]:
news.isnull().sum() #SEES if theree is any missing value or 0 in data if there is sum will be true and the total count will e given

title    0
text     0
model    0
dtype: int64

In [35]:
news.duplicated().sum() #sees if there  is any duplicate and count it

np.int64(5793)

In [36]:
news.drop_duplicates(inplace = True)

In [37]:
news.duplicated().sum()

np.int64(0)

In [38]:
#for preprocessing we can also make tf-tdf it makes common word like the ,an has low value and non common word has high value and low value words 
# can be removed its full form is term frequency inverse document frequency.

In [39]:
#now as the preprocessing is done now we choose a model, train them ,and find the acuuracy of our model and then we also make the accuracy
#  score highter if it turns out to be low.

In [40]:
#Convert raw text (news articles) into numerical features that can be used by machine learning models (like Logistic Regression).

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7) #eng means a, an, the .if the word appears in 70 % of the documents it will be ignored
X = vectorizer.fit_transform(news) #fit read all data and trasform Converts each document into a sparse vector — mostly zeros
levels= news['model'] 
y = levels#Assign the labels (real/fake) for model training