In [54]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression  #model= logistic regression 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score


fake= pd.read_csv("fake.csv")
real=pd.read_csv("true.csv")

In [30]:
#data cleaning 
   #in data cleaning we load the dataset , see if the dataset is really loaded with the help of head or samples then we label the 
   # data for example here fake will be labled as 0 and real as 1 and remove the rows that we dont need  in our project 
   #and only the rows and coloms that we will use and then again check the now data by using head or samples and then adding two dataset
   #  if there is two in one frame after that  we can movve to data preprocessing this is the basic load method of data cleaning

In [31]:
fake.sample(5)
real.sample(5)  #gives 5 radom data rows from the dataset

,title,text,subject,date
13510,U.S. asks China to cut off oil supply to North...,UNITED NATIONS (Reuters) - The United States h...,worldnews,"November 29, 2017"
5418,Key Senate committee chairman wants briefing o...,WASHINGTON (Reuters) - The Republican and Demo...,politicsNews,"February 15, 2017"
5952,"Trump, Mexico's Pena Nieto agree to work out d...",WASHINGTON (Reuters) - The White House said on...,politicsNews,"January 27, 2017"
4352,"Concerned about White House infighting, Trump ...",WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"April 7, 2017"
9055,"Trump doubles monthly campaign fundraising, la...",NEW YORK/WASHINGTON (Reuters) - Republican pre...,politicsNews,"June 21, 2016"

In [32]:
fake['model'] = 0
real['model'] = 1 # labeling the data 0 for fake and 1 for real

In [33]:

real.head() #gives the first 5 rows of the dataset

,title,text,subject,date,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [34]:
fake.head()

,title,text,subject,date,model
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [35]:
#removing subject coloumn and date coloum from both of the data set as i donot want it in future use 
real.drop(columns = ['subject','date'], inplace =True )
fake.drop(columns = ['subject','date'], inplace = True)

In [36]:
#As i have two dataset im going to combine them
news=pd.concat([real,fake],ignore_index = True )

In [37]:
news.head() #CHECKING

,title,text,model
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,1

In [38]:
news.sample(5) #checking if two dataset connected

,title,text,model
41606,HILLARY’S ANTI-TRUMP MUSLIM DAD Claims Terror ...,We ve inserted our thoughts and a few tweets t...,0
39244,WOW! DNC WILL KEEP Dirty Harvey’s Money To Fun...,The Democratic National Committee announced Fr...,0
2773,Exclusive: Trump says he does not fault son fo...,WASHINGTON (Reuters) - U.S. President Donald T...,1
32282,HIGH SCHOOL PRINCIPAL Confiscates Yearbooks Fr...,Hey parents are you woke yet? A high school ...,0
28425,North Carolina Republican Throws Temper Tantr...,In retaliation of Bruce Springsteen cancelling...,0

In [39]:
#now as the loading of the data is done, now we will start with processing the data, the process of
# the data is to convert the data into a suitable format for the model to understand and use it to make
# predictions. so maybe data cleaning making the words lower case, removing the punctuation,(done to remove !@# etc)
#  removing the stop words(filters is an the), removing the special characters, removing the duplicate.
# data distribution and more the way you want to test the data.

In [40]:
news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   44898 non-null  object
 1   text    44898 non-null  object
 2   model   44898 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [41]:
def clean_data(news):
    news = re.sub(r'[^a-z\s]+' , ' ', news.lower()) #removed the special characters and put the space instead and others  to lower case
    news = ' '.join(news.split()) #spilt put every letters spearated by a comma then join makes them as one sentence

In [42]:
news.isnull().sum() #SEES if theree is any missing value or 0 in data if there is sum will be true and the total count will e given

title    0
text     0
model    0
dtype: int64

In [43]:
news.duplicated().sum() #sees if there  is any duplicate and count it

np.int64(5793)

In [44]:
news.drop_duplicates(inplace = True)

In [45]:
news.duplicated().sum()

np.int64(0)

In [46]:
#for preprocessing we can also make tf-tdf it makes common word like the ,an has low value and non common word has high value and low value words 
# can be removed its full form is term frequency inverse document frequency.

In [47]:
#now as the preprocessing is done now we choose a model, train them ,and find the acuuracy of our model and then we also make the accuracy
#  score highter if it turns out to be low.

In [48]:
#Convert raw text (news articles) into numerical features that can be used by machine learning models (like Logistic Regression).

In [49]:
vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7) #eng means a, an, the .if the word appears in 70 % of the documents it will be ignored
X = vectorizer.fit_transform(news['text'])#data and trasform Converts each document into a sparse vector — mostly zeros
levels= news['model'] 
y = levels#Assign the labels (real/fake) for model training

In [50]:
#training dataset and evaluating.

In [ ]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #test size 0.2 means it will take 20% to test , random state is used to make constant prediction 

# Create and train the model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)  #we do x_test and not y_test  because x has the data and y olny has the label so prediction from y is useless

# Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))  #gives metrics such as recision	Of all predicted real (1), how many were actually real? (TP / (TP + FP))
# Recall	Of all actual real (1), how many did the model catch? (TP / (TP + FN)) F1-Score	Harmonic mean of precision and recall — balances bothAccuracy	(TP + TN) / Total — overall correct predictions
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred)) #shows how many predictions were correct and incorrect in all class eg TP (True Positive): Real news correctly predicted as real.
#TN (True Negative): Fake news correctly predicted as fake. FP (False Positive): Fake news wrongly predicted as real. FN (False Negative): Real news wrongly predicted as fake.

Accuracy: 0.9838895281933256
Classification Report:
               precision    recall  f1-score   support

           0       0.99      0.98      0.98      3564
           1       0.98      0.99      0.99      4257

    accuracy                           0.98      7821
   macro avg       0.98      0.98      0.98      7821
weighted avg       0.98      0.98      0.98      7821

Confusion Matrix:
 [[3486   78]
 [  48 4209]]

In [56]:
scores = cross_val_score(model, X, y, cv=5, scoring='accuracy')
print("Cross-validation scores:", scores)
print("Average accuracy:", scores.mean())
print("Standard deviation:", scores.std())

Cross-validation scores: [0.97967012 0.97545071 0.95742232 0.97174274 0.94348549]
Average accuracy: 0.9655542769466819
Standard deviation: 0.013331568569544445